<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huajie.readbook">


    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取网络 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--友盟分享登录需要权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Required -->
    <permission
        android:name="com.huajie.readbook.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.huajie.readbook.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />


    <application
        android:name=".ZApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2"/>
        <!--小米手机开启刘海适配-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape"/>
        <!--华为手机开启刘海适配-->
        <meta-data android:name="android.notch_support" android:value="true"/>


        <activity
           android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
           android:label="@string/app_name" >
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="un1gze"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChooseGenderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReadActivity"
            android:theme="@style/fastScrollThumbDrawable"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ClassifyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ClassifySecondActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RankingListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SearchActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BookDetailActivity"
        android:screenOrientation="portrait"/>
        <activity android:name=".activity.BookCatalogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReadHistoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ReadLayoutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ReportActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ReadEndActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FileSystemActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MessageNoticeActivity"
            android:screenOrientation="portrait"/>


        <!--广播(版本更新)-->
        <receiver android:name="com.huajie.readbook.downloadmanger.DownloadCompleteReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <!--适配版本升级>=7.0的情况-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.huajie.readbook.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--新浪微博-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--qq精简版-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--这里的scheme是qq分享要用的appid -->
                <data android:scheme="tencent1109522529"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"
            />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d19be48570df36940000259">
        </meta-data>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.huajie.readbook" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能-->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />

            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.huajie.readbook"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!--Required 显示通知栏 -->
                <category android:name="com.huajie.readbook" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <meta-data android:name="JPUSH_APPKEY" android:value="8ed311f443189e480dc7e563"/> <!--值来自开发者平台取得的AppKey-->

        <!-- talkingdata -->
        <service android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService">  <!--用户质量评估Service可以配置在主进程或者单独进程-->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>

        <!-- openinstall -->
        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="un1gze"/>


        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".utils.MessageReceiver"
            android:enabled="true">
            <intent-filter>
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.huajie.readbook" />
            </intent-filter>
        </receiver>

    </application>

</manifest>